<!DOCTYPE html>
<html>
<head>
    <title>SSET VIRTUAL BUS PASS</title>
    <link rel="stylesheet" href="/static/sty.css"
</head>
<body>
    <div class="logo-container">  <img src="/static/logo1.png" alt="Your Logo" class="logo">
    </div>
    <h1>SSET VIRTUAL BUS PASS</h1>

    <div class="button-container">  <button id="adminButton">ADMIN</button>
        <a href="{{ url_for('login') }}">
            <button>STUDENT</button>
        </a>
        <button id="securityButton">SECURITY</button>
    </div>

    <script>
    </script>
</body>
</html> 